.main-header {
  height:300px;
  background: url(../images/posh.jpeg) no-repeat center center;
  background-color: #000000;

}

.logo{
  @include span(2);

  img{
    max-width: 100%;
  }
}

.contextual-region {

  @include span(5 last);

  li{
    float: left;
    margin-top: 10px;
  }

  a{
    display: block;
    color: #0a6fb4;
    text-decoration: none;
    padding: 0 5px;

    &:hover{
      text-decoration: underline;
    }
  }
}