article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

#header h1 {
  margin: 0 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

nav ul,
nav ol {
  list-style: none;
  padding: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------- Begin default section --------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', Baskerville, serif;
  line-height: 1.5em;
  font-size: 87.5%;
  /* = 14px assuming browser's regular font size is 16px */
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  margin-left: 10px;
}

ol {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

em {
  font-style: italic;
}

/* p,a,strong,em,li,dl,dt { */
p, li, dl, dt {
  margin: 6px 0;
  line-height: 1.5em;
}

dd {
  margin-left: 2.5em;
}

table {
  width: 100%;
  margin: 4px 0px;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1em;
}

fieldset {
  border-width: 1px;
  border-style: solid;
}

#site-name, #site-slogan {
  font-family: Georgia, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', Baskerville, serif;
}

/*------- end of default section --------*/
#page-wrapper {
  margin: 0px auto;
  padding: 0px;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#page {
  padding: 0px;
}

#main-wrapper {
  width: 100%;
  position: relative;
}

#content,
#sidebar-first,
#sidebar-second {
  display: inline;
  float: left;
  position: relative;
  /*overflow: hidden; Removed for Superfish */
}

#footer-columns {
  width: 100%;
}

#footer-column-wrapper {
  float: left;
}

#footer-column {
  padding: 10px;
  margin: 0px 5px 5px 5px;
  text-align: left;
}

#top-columns,
#bottom-columns {
  width: 100%;
  overflow: hidden;
}

.column-block-wrapper {
  float: left;
}

.column-block {
  padding: 10px;
  margin: 0px 5px 5px 5px;
  text-align: left;
  margin: 0px;
}

div.column-blocks div.column-block {
  margin-left: 5px;
  margin-right: 5px;
}

div.column-blocks div:last-of-type div.column-block {
  margin-left: 5px;
  margin-right: 0px;
}

div.column-blocks div:first-of-type div.column-block {
  margin-left: 0px;
  margin-right: 5px;
}

div.column-blocks div:only-child div.column-block {
  margin-left: 0px;
  margin-right: 0px;
}

.rc-2 .comment,
.rc-2 .node,
.rc-1 .column-block,
.rc-1 .sidebar .block,
.rc-3 .comment,
.rc-3 .node,
.rc-3 .column-block,
.rc-3 .sidebar .block {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.dark-messages div.messages--status {
  background-color: #224422;
  border: solid 1px #669966;
  color: #aaccaa;
}
.dark-messages div.messages--warning {
  background-color: #666633;
  border: solid 1px #aaaa44;
  color: #ccccaa;
}
.dark-messages div.messages--error {
  background-color: #663333;
  border: solid 1px #bb6666;
  color: #ccaaaa;
}

.spacer {
  display: block;
  margin-top: 10px;
}

/**
 * Header
 */
#header {
  padding: 0px;
  display: block;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}

#header-watermark {
  margin: 0;
  padding: 0;
  background-image: none;
  background-repeat: no-repeat;
  background-position: top center;
}

div#site_logo {
  float: left;
  padding: 9px 4px 4px 9px;
}

#name-and-slogan {
  float: left;
  padding: 8px 8px;
}

#site-name a,
#header h1 a,
#header h1 a:link,
#header h1 a:visited {
  font-weight: 800;
  text-decoration: none;
  line-height: 1em;
  font-size: 34px;
  /* we do not want it changed by text scaling */
}

#site-slogan {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 5px;
  font-size: 15px;
  /* we do not want it changed by text scaling */
  line-height: 1em;
}

/**
 * Footer
 */
#footer-wrapper {
  text-align: center;
  clear: both;
  display: block;
  margin: 0px;
  padding: 10px;
  font-size: 0.9em;
  font-weight: normal;
}

#footer-wrapper .column-block {
  border-style: solid;
  border-width: 0px;
}

#footer-wrapper .column-block h2 {
  font-size: 1.5em;
}

#footer .block {
  margin: 5px 0px;
}

/**
 * Banner area (#banner-top, #banner-bottom)
 */
.banner p {
  padding: 0px;
  margin: 0px;
}

#banner-top,
#banner-bottom {
  padding: 0px;
  border: none;
  width: 100%;
}

.column-block {
  font-size: 0.9em;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
}

.column-block h2 {
  font-size: 1.25em;
  line-height: 1em;
  padding: 2px 0px;
  margin: 0px 0px 3px 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/**
 * Sidebar
 */
.sidebar * {
  padding: 0;
  margin: 0;
  line-height: 1.6em;
}

.sidebar .block {
  padding: 5px 10px;
  font-size: 0.9em;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
}

.column-block h2,
.sidebar h2 {
  background: transparent;
  line-height: 1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 4px 0px 2px 0px;
  padding: 2px 0px;
  font-size: 1.25em;
}

.column-block .content,
.sidebar .block .content {
  padding: 5px 2px;
  /*overflow: hidden; Removed for Superfish */
}

.column-block table tr th,
.sidebar .block table tr th {
  border-style: solid;
  border-width: 0px;
  padding: 0px 4px;
  background: none;
  border-bottom-width: 3px;
}

.column-block table tr td,
.sidebar .block table tr td {
  padding: 2px 4px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  background: none;
}

.sidebar .block ul {
  margin: 0px;
  padding: 0px;
}

.sidebar .block ul.links {
  margin-top: 10px;
  text-align: right;
}

.sidebar .block ul.links li {
  display: inline;
  margin-left: 15px;
}

.sidebar .block .menu {
  padding-left: 10px;
  padding-bottom: 5px;
}

/**
 * Page
 */
/**
 * @file
 * Styles for breadcrumbs.
 */
.breadcrumb {
  padding-bottom: 0.5em;
}

.breadcrumb ol {
  margin: 0;
  padding: 0;
}

[dir="rtl"] .breadcrumb ol {
  /* This is required to win over specificity of [dir="rtl"] ol */
  margin-right: 0;
}

.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* IE8 does not support :not() and :last-child. */
.breadcrumb li:before {
  content: ' \BB ';
}

.breadcrumb li:first-child:before {
  content: none;
}

#breadcrumb {
  font-size: 1em;
  font-style: italic;
  padding-left: 5px;
}

#breadcrumb a {
  font-size: 1em;
  font-style: italic;
}

.page-title {
  padding: 4px 8px;
  font-size: 1.3em;
  margin-bottom: 10px;
}

#content .block h2 {
  /* main content: block title */
  padding: 4px 8px;
  font-size: 1.25em;
}

.action-links {
  padding-left: 10px;
}

/**
 * Pager
 */
div.item-list .pager {
  border: none;
  padding: 0px;
}

div.item-list ul.pager {
  margin: 10px 0px;
  margin-top: 10px;
  padding: 1px 0px;
  overflow: hidden;
  list-style-type: none;
}

div.item-list ul.pager li {
  display: inline;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  padding: 2px 0px;
}

div.item-list ul.pager li.pager-current {
  padding: 2px 8px;
}

div.item-list ul.pager li a {
  margin: 0px;
  padding: 2px 8px;
}

/**
 * tabs
 */
/* --------------- System Tabs  --------------- */
div.tabs {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 20px;
}

.tabs ul.primary {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tabs ul.primary li a {
  background-color: #ededed;
  border-color: #bbb;
  border-style: solid solid none;
  border-width: 1px;
  color: #000;
  display: block;
  font-size: 0.929em;
  height: 1.8em;
  line-height: 1.9;
  padding: 0 10px 3px;
  text-shadow: 0 1px 0 #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #ffffff;
  border: 1px solid #bbb;
}

@media screen and (max-width: 37.5em) {
  .tabs ul.primary {
    border-bottom: 1px solid #bbb;
  }

  .tabs ul.primary li {
    display: block;
    margin: 0;
  }

  .tabs ul.primary li a {
    padding: 5px 10px;
  }

  .tabs ul.primary li.is-active a {
    border-bottom: medium none;
  }
}
@media screen and (min-width: 37.5em) {
  .tabs ul.primary {
    background: transparent url("../images/tabs-border.png") repeat-x scroll left bottom;
    border: medium none;
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    padding: 0 3px;
    white-space: nowrap;
  }

  .tabs ul.primary li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    vertical-align: bottom;
  }

  [dir="rtl"] .tabs ul.primary li {
    float: right;
    margin: 0 0 0 5px;
  }

  .tabs ul.primary li a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    float: left;
  }

  .tabs ul.primary li.is-active a {
    border-bottom: 1px solid #fff;
  }
}
.tabs ul.secondary {
  border-bottom: medium none;
  margin: 5px;
  overflow: hidden;
  padding: 0.5em 0;
}

.tabs ul.secondary li {
  border-right: 1px solid #ccc;
  display: block;
  float: left;
  margin: 0;
  padding: 0 1em;
}

[dir="rtl"] .tabs ul.secondary li {
  border-left: 1px solid #ccc;
  border-right: medium none;
  float: right;
}

.tabs ul.secondary li:last-child {
  border-right: medium none;
}

[dir="rtl"] .tabs ul.secondary li:last-child {
  border-left: medium none;
}

.tabs ul.secondary li:first-child {
  padding-left: 0;
}

[dir="rtl"] .tabs ul.secondary li:first-child {
  padding-right: 0;
}

.tabs ul.secondary li a {
  display: inline;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.tabs ul.secondary li a.is-active {
  background: #f2f2f2 none repeat scroll 0 0;
  border-bottom: medium none;
  border-radius: 5px;
}

/**
 * node
 */
.node {
  margin: 0;
  padding: 15px 12px 10px 14px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
}

.node--sticky {
  border-width: 0px;
}

#content .node h2 {
  /* main content: node title */
  padding: 0px;
  background: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 1.45em;
}

.node .submitted {
  font-size: 0.75em;
}

.node ul,
.node ol {
  padding-left: 15px;
}

.node ul.links {
  padding: 0px;
  font-size: 0.75em;
  float: right;
  clear: both;
}

.node .user-picture {
  float: right;
  padding: 0px 0px 10px 10px;
  background-color: inherit;
}

/**
 * Comment
 */
.comment {
  padding: 8px 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
}

.comment-unpublished {
  background: url(../images/unpublished.png) repeat top right;
}

.comment-spam {
  background: url(../images/spam.png) repeat top right;
}

.comment h3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#comments h2.title {
  margin-bottom: 5px;
  font-size: 1.3em;
}

.comment .submitted {
  font-size: 0.75em;
}

.comment ul.links {
  padding: 0px;
  font-size: 0.75em;
  float: right;
  clear: both;
}

.comment .user-picture {
  float: right;
  padding: 4px 0px 10px 10px;
  background-color: inherit;
}

/**
 * User profile
 */
.profile .user-picture {
  margin: 0px;
  padding: 5px;
}

/* =============================================================================
   SEARCH
   ========================================================================== */
/**
 * Search block form
 * - no 'submit' button
 * - add search magnifier image
 * - use javascript to show prompt
 */
input[type="search"] {
  height: 24px;
  color: #555555;
  margin: 0px;
  border: solid 1px #aaa;
  border-bottom-color: #ddd;
  border-right-color: #ddd;
  margin-top: 1px;
  background: #fff url(../images/search.png) no-repeat 2px center;
  padding: 0px 4px 0px 4px;
  padding-left: 24px;
  /* space for magnifying glass */
}

#header-searchbox {
  float: right;
  overflow: hidden;
  padding: 8px;
  margin: 0px;
}

/************************/
/**
 * Form
 */
.pushbutton, button, .form-submit {
  margin: 2px;
  padding: 2px 10px;
  color: #555555;
  cursor: pointer;
  font-size: 0.9em;
  border: solid 1px #888888;
  background: #fff url(../images/button.gif) repeat-x center;
}

.pushbutton:hover, button:hover, .form-submit:hover {
  color: #111111;
  border: solid 1px #666666;
  background: #fff url(../images/button-o.gif) repeat-x center;
}

label {
  display: block;
  font-weight: bold;
}

/**
 * Font resize controls
 */
#header-fontsizer {
  float: right;
  margin: 0;
  margin-right: 20px;
  padding: 13px 0 0 0;
  border-width: 0px;
  line-height: 1.2em;
}

.decreaseFont {
  padding-right: 22px;
  padding-bottom: 25px;
  background: url("../images/fontsizer-1.png") no-repeat top left;
  margin-right: 1px;
}

.resetFont {
  padding-right: 21px;
  padding-bottom: 25px;
  background: url("../images/fontsizer-2.png") no-repeat top left;
}

.increaseFont {
  padding-right: 23px;
  padding-bottom: 25px;
  background: url("../images/fontsizer-3.png") no-repeat top left;
  margin-left: 1px;
}

.decreaseFont:hover {
  background: url("../images/fontsizer-1-o.png") no-repeat top left;
}

.resetFont:hover {
  background: url("../images/fontsizer-2-o.png") no-repeat top left;
}

.increaseFont:hover {
  background: url("../images/fontsizer-3-o.png") no-repeat top left;
}

#header-fontsizer a,
#header-fontsizer a:visited,
#header-fontsizer a:focus,
#header-fontsizer a:active {
  /* suppress dotted frame around the links for IE */
  border: none;
  outline: none;
}

/**
 * Other
 */
table.views-view-grid tr td {
  padding: 15px;
}

.filter-wrapper {
  border: none;
  margin-top: 5px;
  padding: 5px;
  font-size: 0.9em;
}

.filter-wrapper ul li {
  margin-left: 10px;
}

.field-type-taxonomy-term-reference {
  overflow: hidden;
  margin-bottom: 0.5em;
}

.field-type-taxonomy-term-reference .field-label {
  float: left;
  overflow: hidden;
}

.field-type-taxonomy-term-reference .field-items {
  overflow: hidden;
}

.field-type-taxonomy-term-reference .field-items .field-item {
  float: left;
  margin: 0 0.6em;
  padding: 0px;
}

.field-type-text-with-summary {
  /*clear: left;*/
  /* do not use 'both' */
}

table tr {
  border-style: solid;
  border-width: 0px;
}

table tr td {
  padding: 4px 6px;
  border-style: solid;
  border-width: 0px;
}

table tr th {
  border-style: solid;
  padding: 4px 6px;
  border-width: 0px;
  border-right-width: 1px;
}

table thead * {
  padding: 2px 3px;
  border-bottom: none;
  border-width: 0px;
}

table tbody {
  border-width: 0px;
}

table.sticky-enabled tr td {
  padding: 2px 3px;
  border-style: solid;
  border-width: 0px;
}

tr.even td.active,
tr.odd td.active {
  background-image: url("../images/dark.png");
}

tr.even,
tr.odd {
  border-width: 0px;
}

blockquote {
  padding: 0px 10px;
  border-left-style: solid;
  border-left-width: 5px;
  font-style: italic;
}

/**
 * Nice menus
 */
ul.nice-menu {
  line-height: 1em;
  margin: 0px;
  padding: 0px;
}

ul.nice-menu,
ul.nice-menu ul,
ul.nice-menu li {
  /* remove all borders */
  border: 0;
}

ul.nice-menu li {
  /* height of root menu items */
  line-height: 1.2em;
}

ul.nice-menu li a {
  /* root menu items */
  font-size: 0.9em;
  padding: 4px 8px;
  border: none;
  border-right-style: solid;
  border-right-width: 1px;
  /* background-color is set by colors.css */
  /* border-right-color is set by colors.css */
}

ul.nice-menu li.last a {
  /* last item of the root menu */
  border-right: none;
}

ul.nice-menu li ul {
  margin: 0;
  padding: 0px;
}

ul.nice-menu li.last ul li a,
ul.nice-menu li ul li a,
ul.nice-menu li ul li.last a {
  /* all other chile menu items */
  border-style: solid;
  border-width: 1px;
  border-width: 0px;
  /* border-color is set by colors.css */
}

ul.nice-menu li.menuparent a {
  /* root menu item that has drop down menu */
  background-image: url("../images/arrow-down.png");
  background-repeat: no-repeat;
  background-position: 98%;
  /* background-color is set by colors.css */
}

ul.nice-menu li a {
  /* root menu item that has no drop down menu */
  /* background-color is set by colors.css */
}

ul.nice-menu li {
  padding: 0px;
}

ul.nice-menu li ul li.menuparent a:hover,
ul.nice-menu li ul li.menuparent:hover,
ul.nice-menu li ul li.menuparent {
  /* drop down menu item that has child menu */
  background-image: url("../images/arrow-right.png");
  background-repeat: no-repeat;
  background-position: 95%;
  /* background-color is set by colors.css */
}

ul.nice-menu li.menuparent ul {
  padding-top: 5px;
}

ul.nice-menu li.menuparent li a {
  background: none;
  /* do not delete! */
}

ul.nice-menu li.menuparent li {
  background: none;
  /* do not delete! */
}

ul.nice-menu li ul li.menuparent li a:hover {
  background: none;
  /* do not delete! */
}

/**
 * Overlay layout for admin pages
 */
.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}

.overlay #skip-link,
.overlay .region-page-top,
.overlay #header,
.overlay .page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #sidebar-second,
.overlay #footer-wrapper,
.overlay #banner-top,
.overlay #banner-bottom,
.overlay #navigation {
  display: none;
}

.overlay #messages {
  width: auto;
}

.overlay #page-wrapper {
  width: 100%;
}

.overlay #page {
  margin: 0;
  padding: 0px;
}

#overlay-content {
  margin: 0;
  padding: 0px;
}

/**
 * Field labels
 */
.field__label {
  font-weight: bold;
}

.field--label-inline .field__label, .field--label-inline .field__items {
  float: left;
}

.field--label-inline .field__label, .field--label-inline > .field__item, .field--label-inline .field__items {
  padding-right: 0.5em;
}

[dir="rtl"] .field--label-inline .field__label, [dir="rtl"] .field--label-inline .field__items {
  padding-left: 0.5em;
  padding-right: 0;
}

.field--label-inline .field__label::after {
  content: ":";
}

/**
 * File fields and their icons.
 */
.file {
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  min-height: 16px;
  padding-left: 20px;
}

[dir="rtl"] .file {
  background-position: right center;
  padding-left: inherit;
  padding-right: 20px;
}

.file--general, .file--application-octet-stream {
  background-image: url("../images/icons/application-octet-stream.png");
}

.file--package-x-generic {
  background-image: url("../images/icons/package-x-generic.png");
}

.file--x-office-spreadsheet {
  background-image: url("../images/icons/x-office-spreadsheet.png");
}

.file--x-office-document {
  background-image: url("../images/icons/x-office-document.png");
}

.file--x-office-presentation {
  background-image: url("../images/icons/x-office-presentation.png");
}

.file--text-x-script {
  background-image: url("../images/icons/text-x-script.png");
}

.file--text-html {
  background-image: url("../images/icons/text-html.png");
}

.file--text-plain {
  background-image: url("../images/icons/text-plain.png");
}

.file--application-pdf {
  background-image: url("../images/icons/application-pdf.png");
}

.file--application-x-executable {
  background-image: url("../images/icons/application-x-executable.png");
}

.file--audio {
  background-image: url("../images/icons/audio-x-generic.png");
}

.file--video {
  background-image: url("../images/icons/video-x-generic.png");
}

.file--text {
  background-image: url("../images/icons/text-x-generic.png");
}

.file--image {
  background-image: url("../images/icons/image-x-generic.png");
}

/**
 * From D8 core prior to 9/29/2015
 */
ul.menu {
  list-style: outside none none;
  margin-left: 1em;
  padding: 0;
  text-align: left;
}

.item-list ul li {
  margin: 0 0 0.25em 1.5em;
  padding: 0;
}

.pager__items {
  clear: both;
  text-align: center;
}

.pager__item {
  display: inline;
  padding: 0.5em;
}

.pager__item.is-active {
  font-weight: bold;
}

.feed-icon {
  background: transparent url("../../../../core/misc/feed.svg") no-repeat scroll 0 0;
  border-bottom: medium none;
  padding: 15px 0 0;
  margin: 25px 0 0;
  display: inline-block;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  width: 16px;
}

ul.inline, ul.links.inline {
  display: inline;
  padding-left: 0;
}

ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

ul.links a.is-active {
  color: #000;
}

.messages {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: transparent none no-repeat scroll 10px 17px;
  border-color: -moz-use-text-color;
  border-image: none;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
}

[dir="rtl"] .messages {
  background-position: right 10px top 17px;
  border-width: 1px 0 1px 1px;
  padding-left: 20px;
  padding-right: 35px;
  text-align: right;
}

.messages + .messages {
  margin-top: 1.538em;
}

.messages__list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.messages__item + .messages__item {
  margin-top: 0.769em;
}

.messages--status {
  background-color: #f3faef;
  background-image: url("../../../../core/misc/icons/73b355/check.svg");
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  box-shadow: -8px 0 0 #77b259;
  color: #325e1c;
}

[dir="rtl"] .messages--status {
  border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
  box-shadow: 8px 0 0 #77b259;
  margin-left: 0;
}

.messages--warning {
  background-color: #fdf8ed;
  background-image: url("../../../../core/misc/icons/e29700/warning.svg");
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  box-shadow: -8px 0 0 #e09600;
  color: #734c00;
}

[dir="rtl"] .messages--warning {
  border-color: #f4daa6 transparent #f4daa6 #f4daa6;
  box-shadow: 8px 0 0 #e09600;
}

.messages--error {
  background-color: #fcf4f2;
  background-image: url("../../../../core/misc/icons/e32700/error.svg");
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  box-shadow: -8px 0 0 #e62600;
  color: #a51b00;
}

[dir="rtl"] .messages--error {
  border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
  box-shadow: 8px 0 0 #e62600;
}

.messages--error p.error {
  color: #a51b00;
}

#main-wrapper {
  width: 100%;
  position: relative;
}

#main {
  width: 100%;
}

@media only screen and (max-width: 320px) {
  #top-columns .column-block-wrapper,
  #bottom-columns .column-block-wrapper,
  #footer-columns .column-block-wrapper {
    width: 100% !important;
    margin-top: 1em;
  }

  #top-columns .column-block-wrapper .column-block,
  #bottom-columns .column-block-wrapper .column-block,
  #footer-columns .column-block-wrapper .column-block {
    height: auto !important;
    margin: 0 !important;
  }
}
#content,
#sidebar-first,
#sidebar-second {
  margin: 0;
  width: 100%;
}
#content img,
#sidebar-first img,
#sidebar-second img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 320px) {
  #content img,
  #sidebar-first img,
  #sidebar-second img {
    max-width: 100%;
    height: auto;
  }

  #site-name a, #site-name a:link, #site-name a:visited {
    margin: 0 0;
    font-size: .85em;
    font-weight: 800;
    line-height: 1em;
  }

  #header h1 a, #header h1 a:link, #header h1 a:visited {
    font-size: .85em;
    font-weight: 800;
    line-height: 1em;
    text-decoration: none;
  }

  #site-slogan {
    font-size: 12px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  #content img,
  #sidebar-first img,
  #sidebar-second img {
    max-width: 100%;
    height: auto;
  }

  input.form-text {
    width: 95%;
  }

  #site-name a, #site-name a:link, #site-name a:visited {
    margin: 0 0;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 1em;
  }

  #header h1 a, #header h1 a:link, #header h1 a:visited {
    font-size: .85em;
    font-weight: 800;
    line-height: 1em;
    text-decoration: none;
  }

  #site-slogan {
    font-size: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #content img,
  #sidebar-first img,
  #sidebar-second img {
    max-width: 100%;
    height: auto;
  }

  input.form-text {
    width: 75%;
  }

  #top-columns .column-block-wrapper {
    width: 100% !important;
    margin-top: 1em;
  }

  #top-columns .column-block-wrapper .column-block {
    height: auto !important;
    margin: 0 !important;
  }

  #sidebar-first.sb-one,
  #sidebar-second.sb-one {
    margin: 0;
    width: 50% !important;
  }
  #sidebar-first.sb-one img,
  #sidebar-second.sb-one img {
    max-width: 100%;
    height: auto;
  }

  #site-name a, #site-name a:link, #site-name a:visited {
    margin: 0 0;
    font-size: 1.8em;
    font-weight: 800;
    line-height: 1em;
  }

  #header h1 a, #header h1 a:link, #header h1 a:visited {
    font-size: 1.3em;
    font-weight: 800;
    line-height: 1em;
    text-decoration: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #content img,
  #sidebar-first img,
  #sidebar-second img {
    max-width: 100%;
    height: auto;
  }

  input.form-text {
    width: 75%;
    font-size: 90%;
  }

  #top-columns .column-block-wrapper {
    width: 100% !important;
    margin-top: 1em;
  }

  #top-columns .column-block-wrapper .column-block {
    height: auto !important;
    margin: 0 !important;
  }

  #sidebar-first.sb-one,
  #sidebar-second.sb-one {
    margin: 0;
    width: 50% !important;
  }
  #sidebar-first.sb-one img,
  #sidebar-second.sb-one img {
    max-width: 100%;
    height: auto;
  }

  #site-name a, #site-name a:link, #site-name a:visited {
    margin: 0 0;
    font-size: 2.2em;
    font-weight: 800;
    line-height: 1em;
  }

  #header h1 a, #header h1 a:link, #header h1 a:visited {
    font-size: 1.6em;
    font-weight: 800;
    line-height: 1em;
    text-decoration: none;
  }
}
/* --------------- Primary Menu ------------ */
.region-menubar {
  clear: both;
}

.region-menubar .menu-bart {
  font-size: 0.929em;
  margin: 0 5px;
  padding: 0;
  text-align: left;
  /* LTR */
}

[dir="rtl"] .region-menubar .menu-bart {
  text-align: right;
  margin-left: 5px;
  /* This is required to win over specificity of [dir="rtl"] ul.menu */
  margin-right: 5px;
  /* This is required to win over specificity of [dir="rtl"] ul.menu */
}

.region-menubar .menu-item {
  float: none;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}

.region-menubar .menu-bart a {
  color: #333;
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
  float: none;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  border-radius: 8px;
  margin: 4px 0;
  padding: 0.9em 0 0.9em 10px;
  /* LTR */
}

[dir="rtl"] .region-menubar .menu-bart a {
  padding: 0.9em 10px 0.9em 0;
}

.region-menubar .menu-bart a:hover,
.region-menubar .menu-bart a:focus {
  background: #f6f6f2;
  background: rgba(255, 255, 255, 0.95);
}

.region-menubar .menu-bart a:active {
  background: #b3b3b3;
  background: white;
}

.region-menubar .menu-item a.is-active {
  border-bottom: none;
}

/* ---------- Primary Menu Toggle ----------- */
/* Hide the toggle by default. */
.menu-toggle,
.menu-toggle-target {
  display: none;
}

/* Unhide it for the primary menu. */
.region-menubar .menu-toggle-target {
  display: inherit;
  position: fixed;
  top: 0;
}

.region-menubar .menu-toggle {
  display: none;
}

body:not(:target) .region-menubar .menu-toggle {
  color: #333;
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
  float: none;
  font-size: 0.929em;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  padding: 0.9em 10px 0.9em 10px;
  z-index: 1000;
}

body:not(:target) .region-menubar .menu-toggle:after {
  content: "";
  background: url(../images/icons/hamburger.svg) no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  display: inline-block;
  position: absolute;
  right: 10px;
  /* LTR */
}

[dir="rtl"] body:not(:target) .region-menubar .menu-toggle:after {
  right: initial;
  left: 10px;
}

body:not(:target) .region-menubar .menu-toggle-target-show:target ~ .menu-toggle,
body:not(:target) .region-menubar .menu-toggle--hide {
  display: none;
}

body:not(:target) .region-menubar .menu-toggle-target-show:target ~ .menu-toggle--hide {
  display: block;
}

body:not(:target) .region-menubar .menu-item {
  height: 0;
  overflow: hidden;
}

body:not(:target) .region-menubar .menu-toggle-target-show:target ~ .menu-bart .menu-item {
  height: auto;
  overflow: visible;
}

/**
 * Media queries for primary menu.
 */
@media all and (min-width: 461px) and (max-width: 900px) {
  .region-menubar .menu-bart {
    margin: 0 5px;
    padding: 0;
    text-align: center;
  }

  /* This is required to win over specificity of the global [dir="rtl"] .region-menubar .menu-bart */
  [dir="rtl"] .region-menubar .menu-bart {
    text-align: center;
  }

  .region-menubar .menu-item,
  body:not(:target) .region-menubar .menu-item {
    float: left;
    /* LTR */
    margin-right: 5px;
    /* LTR */
    padding: 0;
    display: inline-block;
    width: 32.75%;
    height: auto;
    overflow: visible;
  }

  [dir="rtl"] .region-menubar .menu-item,
  [dir="rtl"] body:not(:target) .region-menubar .menu-item {
    float: right;
    margin-left: 5px;
    margin-right: 0;
  }

  .region-menubar .menu-item:nth-child(3n) {
    margin-right: -5px;
    /* LTR */
  }

  [dir="rtl"] .region-menubar .menu-item:nth-child(3n) {
    margin-left: -5px;
    margin-right: 0;
  }

  .region-menubar .menu-bart a {
    float: none;
    display: block;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 0.9em 5px;
  }

  /* This is required to win over specificity of the global [dir="rtl"] .region-menubar .menu-bart a */
  [dir="rtl"] .region-menubar .menu-bart a {
    padding: 0.9em 5px;
  }

  body:not(:target) .region-menubar .menu-toggle {
    display: none;
  }
}
@media all and (min-width: 901px) {
  .region-menubar .block-menu .menu-bart {
    font-size: 0.929em;
    margin: 0;
    padding: 0 15px;
  }

  .region-menubar .menu-item,
  body:not(:target) .region-menubar .menu-item {
    float: left;
    /* LTR */
    list-style: none;
    padding: 0 1px;
    margin: 0 1px;
    width: auto;
    height: auto;
    overflow: visible;
  }

  [dir="rtl"] .region-menubar .menu-item,
  [dir="rtl"] body:not(:target) .region-menubar .menu-item {
    float: right;
  }

  .region-menubar .menu-bart a {
    float: left;
    /* LTR */
    padding: 0.7em 0.8em;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  [dir="rtl"] .region-menubar .menu-bart a {
    float: right;
    padding: 0.7em 0.8em;
  }

  .featured .region-menubar .menu-item a:active,
  .featured .region-menubar .menu-item a.is-active {
    background: #f0f0f0;
    background: #f0f0f0;
  }

  body:not(:target) .region-menubar .menu-toggle {
    display: none;
  }
}
/**
 * @file
 * Visual styles for list menu from Classy.
 */
ul.menu {
  list-style: none outside;
  margin-left: 1em;
  /* LTR */
  padding: 0;
  text-align: left;
  /* LTR */
}

[dir="rtl"] ul.menu {
  margin-left: 0;
  margin-right: 1em;
  text-align: right;
}

.menu-item--expanded {
  list-style-image: url(../images/menu-expanded.png);
  list-style-type: circle;
}

.menu-item--collapsed {
  list-style-image: url(../images/menu-collapsed.png);
  /* LTR */
  list-style-type: disc;
}

[dir="rtl"] .menu-item--collapsed {
  list-style-image: url(../images/menu-collapsed-rtl.png);
}

.menu-item {
  padding-top: 0.2em;
  margin: 0;
}

ul.menu a.is-active {
  color: #000;
}

/**
 * @file
 * Styling for the Book module from Classy.
 */
.book-navigation .menu {
  padding-bottom: 0;
  padding-top: 1em;
}

.book-navigation .book-pager {
  margin: 0;
  overflow: auto;
  padding: 0.5em 0;
}

.book-pager__item {
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
}

.book-pager__item--previous {
  text-align: left;
  /* LTR */
  width: 45%;
}

[dir="rtl"] .book-pager__item--previous {
  float: right;
  text-align: right;
}

.book-pager__item--center {
  text-align: center;
  width: 8%;
}

.book-pager__item--next {
  float: right;
  /* LTR */
  text-align: right;
  /* LTR */
  width: 45%;
}

[dir="rtl"] .book-pager__item--next {
  float: left;
  text-align: left;
}

/**
 * @file
 * Bartik specific styling for the Book module.
 */
.book-navigation .menu {
  border-top: 1px solid #d6d6d6;
}

.book-navigation .book-pager {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  margin: 0;
}

/**
 * @file
 * Visual styles for Bartik's forms.
 */
/* Password field. */
.password-field {
  margin: 0;
}

/* Form elements. */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1em 0;
}

details,
fieldset,
.filter-wrapper {
  border-radius: 4px;
}

.filter-wrapper {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filter-help a {
  font-size: 0.857em;
}

.filter-wrapper .form-item label {
  margin-right: 10px;
  /* LTR */
}

[dir="rtl"] .filter-wrapper .form-item label {
  margin-left: 10px;
  margin-right: 0;
}

summary {
  background: #dbdbdb;
  color: #3b3b3b;
  text-shadow: 0 1px 0 #fff;
}

details summary a {
  color: #3b3b3b;
}

details summary a:hover,
details summary a:active,
details summary a:focus {
  color: #000;
}

details .details-description {
  font-style: italic;
}

label {
  display: table;
  font-weight: bold;
}

label[for] {
  cursor: pointer;
}

input,
textarea,
select {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

input {
  margin: 2px 0;
  padding: 4px;
  /* Keep form elements from overflowing their containers. */
  max-width: 100%;
  box-sizing: border-box;
}

input,
textarea {
  font-size: 0.929em;
}

/**
 * Make the font slightly bigger in mobile
 * @todo: check the correct font-size
 */
@media screen and (max-width: 60em) {
  /* 920px */
  input,
  textarea {
    font-size: 16px;
  }
}
textarea {
  line-height: 1.5;
}

textarea.form-textarea,
select.form-select {
  padding: 4px;
}

input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-file,
input.form-number,
input.form-color,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
  color: #3b3b3b;
}

input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}

.password-suggestions ul li {
  margin-left: 1.2em;
  /* LTR */
}

[dir="rtl"] .password-suggestions ul li {
  margin-right: 1.2em;
  margin-left: 0;
}

.form-item label {
  font-size: 0.929em;
}

.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
  /* LTR */
}

[dir="rtl"] .form-type-radio label,
[dir="rtl"] .form-type-checkbox label {
  margin-right: 4px;
  margin-left: 0;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
  /* LTR */
}

[dir="rtl"] .form-type-radio .description,
[dir="rtl"] .form-type-checkbox .description {
  margin-right: 2px;
  margin-left: 0;
}

.form-actions {
  padding-top: 10px;
}

/* Node Form */
#edit-body {
  margin-bottom: 2em;
}

.node-form label,
.node-form .description {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node-form .form-wrapper {
  margin-bottom: 2em;
}

/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  border-radius: 4px;
}

.contact-form #edit-mail {
  width: 75%;
  border-radius: 4px;
}

.contact-form #edit-subject {
  width: 75%;
  border-radius: 4px;
}

.contact-form #edit-message {
  width: 76.3%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Disabled form elements */
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}

.form-disabled label {
  color: #717171;
}

/* Comment form */
.comment-form label {
  float: left;
  /* LTR */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.929em;
  width: 120px;
}

[dir="rtl"] .comment-form label {
  float: right;
}

.comment-form input,
.comment-form .form-select {
  margin: 0;
  border-radius: 4px;
}

.comment-form .form-type-textarea label {
  float: none;
}

.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden;
}

.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px;
  /* LTR */
}

[dir="rtl"] .comment-form .form-type-checkbox,
[dir="rtl"] .comment-form .form-radios,
[dir="rtl"] .comment-form .form-item .description {
  margin-left: 0;
  margin-right: 120px;
}

.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0;
}

.comment-form input.form-file {
  width: auto;
}

.layout-no-sidebars .comment-form .form-text {
  width: 800px;
}

.layout-one-sidebar .comment-form .form-text {
  width: 500px;
}

.layout-two-sidebars .comment-form .form-text {
  width: 320px;
}

.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px;
  /* LTR */
}

.comment-form .form-textarea {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.comment-form details.filter-wrapper .details-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.filter-wrapper label {
  width: auto;
  float: none;
}

.filter-wrapper .form-select {
  min-width: 120px;
}

.comment-form details.filter-wrapper .tips {
  font-size: 0.786em;
}

#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em;
}

#edit-actions input {
  margin-right: 0.6em;
  /* LTR */
}

[dir="rtl"] #edit-actions input {
  margin-left: 0.6em;
  margin-right: 0;
}

/* Form error styles. */
.form-item textarea.error + .cke {
  border: 2px solid red;
}

/* Form error message styles. */
.form-item--error-message {
  color: #e32700;
}

/**
 * @file
 * Visual styles for a resizable textarea.
 */
.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
h1{
  color: white;
}
